<h1>Cart</h1>
{% if cart.item_count > 0 %}
  <form action="/cart" method="post" novalidate>
    <table>
      <thead>
        <th>Prod</th>
        <th>Price</th>
        <th>total</th>
      </thead>
      <tbody>
        {% for item in cart.items %}
          <tr>
            <td>
              {{ item.product.title }} &ndash; {{ item.variant.title }}
            </td>
            <td>
              {{ item.line_price | money }}
              <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0">X</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <div>
      <p>sub total : {{ cart.total_price | money }}</p>
      <button type="submit" name="update">Update</button>
      <button type="submit" name="checkout">Checkout</button>
    </div>
  </form>
{% else %}
  Cart is empty
{% endif %}
